/* You can add custom styles here. */

// @import "plugins/numbered";

@media screen and (max-width: $mobile-breakpoint) {
    body {
        font-size: 14px;
    }

    .book-header {
        margin-bottom: 1.5rem;
    }

    nav {
        margin-top: 1.5rem;
    }
}

.book-brand {
    span {
        background-color: $point-primary;
        color: white;
        padding: 4px;
    }
}

.book-header {
    strong {
        background-color: $point-primary;
        color: white;
        padding: 4px;
    }
}

.book-menu .book-menu-content {
    border-right: #ddd 1px solid;
}

.book-page {
    padding-left: 1.5rem;
    padding-top: 1.25rem;
}

.book-toc .book-toc-content {
    padding-top: 1.25rem;
}

.markdown dl dt {
    font-weight: normal;
    line-height: 1.8;
}

.markdown dl .markdown-inner {
    font-size: $font-size-12;
}